<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if authenticated? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email_address %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">支払い情報</a></li>
            </ul>
          </li>
          <%= button_to "ログアウト", session_path, method: :delete, class: 'nav-link' %>
        <% else %>
          <%= link_to "ログイン", new_session_path, class: 'nav-link' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
